QMenu
{
background-color: #fafafa;
color: #000000;
padding-left:5px;
}
QMenu::item
{
padding:5px;padding-left:25px;padding-right:15px;
}
QMenu::item:selected
{
background-color: #eaeaea;
border:none;
padding:5px;
padding-left:25px;
padding-right:15px;
}

	